omnidirectional_drive_modes/node_red_code.json
[
    {
        "id": "d20c8a1b93301854",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7db57965.76d468",
        "type": "ui_button",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "ca2272c3.e8396",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Move",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Move",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 370,
        "y": 220,
        "wires": [
            [
                "523dc470bfbfa88b"
            ]
        ]
    },
    {
        "id": "23caf401.9d6d4c",
        "type": "ui_button",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "ca2272c3.e8396",
        "order": 2,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Voice",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Voice",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 370,
        "y": 260,
        "wires": [
            [
                "523dc470bfbfa88b"
            ]
        ]
    },
    {
        "id": "d636d6811a87f3c1",
        "type": "ui_button",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "7c2c525514e7d14c",
        "order": 11,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "Up",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "8",
        "payloadType": "num",
        "topic": "moveB",
        "topicType": "msg",
        "x": 370,
        "y": 600,
        "wires": [
            [
                "6cd74e0f83a95d06",
                "7eeea1a3f61c6fd3"
            ]
        ]
    },
    {
        "id": "2a236690c0296514",
        "type": "ui_button",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "7c2c525514e7d14c",
        "order": 28,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "Down",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "7",
        "payloadType": "num",
        "topic": "moveB",
        "topicType": "msg",
        "x": 369.9999885559082,
        "y": 643.0000147819519,
        "wires": [
            [
                "6cd74e0f83a95d06",
                "7eeea1a3f61c6fd3"
            ]
        ]
    },
    {
        "id": "632116e46ab01a43",
        "type": "ui_button",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "7c2c525514e7d14c",
        "order": 21,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "Left",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "6",
        "payloadType": "num",
        "topic": "moveB",
        "topicType": "msg",
        "x": 369.9999885559082,
        "y": 683.0000147819519,
        "wires": [
            [
                "6cd74e0f83a95d06",
                "7eeea1a3f61c6fd3"
            ]
        ]
    },
    {
        "id": "194c7fc321c1bb13",
        "type": "ui_button",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "7c2c525514e7d14c",
        "order": 19,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "Right",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "5",
        "payloadType": "num",
        "topic": "moveB",
        "topicType": "msg",
        "x": 370,
        "y": 720,
        "wires": [
            [
                "6cd74e0f83a95d06",
                "7eeea1a3f61c6fd3"
            ]
        ]
    },
    {
        "id": "b3f6b6bc2d1cb0f1",
        "type": "ui_button",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "7c2c525514e7d14c",
        "order": 13,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Diagonal Right Up",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "moveB",
        "topicType": "msg",
        "x": 329.9999885559082,
        "y": 763.0000147819519,
        "wires": [
            [
                "6cd74e0f83a95d06",
                "7eeea1a3f61c6fd3"
            ]
        ]
    },
    {
        "id": "7c1d10a949d7b2c5",
        "type": "ui_button",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "7c2c525514e7d14c",
        "order": 30,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Diagonal Right Down",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "num",
        "topic": "moveB",
        "topicType": "msg",
        "x": 319.9999885559082,
        "y": 803.0000147819519,
        "wires": [
            [
                "6cd74e0f83a95d06",
                "7eeea1a3f61c6fd3"
            ]
        ]
    },
    {
        "id": "ea6b6f015abbbf86",
        "type": "ui_button",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "7c2c525514e7d14c",
        "order": 9,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Diagonal Left Up",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3",
        "payloadType": "num",
        "topic": "moveB",
        "topicType": "msg",
        "x": 329.9999885559082,
        "y": 843.0000147819519,
        "wires": [
            [
                "6cd74e0f83a95d06",
                "7eeea1a3f61c6fd3"
            ]
        ]
    },
    {
        "id": "27e86b6624216d58",
        "type": "ui_button",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "7c2c525514e7d14c",
        "order": 26,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Diagonal Left Down",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "4",
        "payloadType": "num",
        "topic": "moveB",
        "topicType": "msg",
        "x": 329.9999885559082,
        "y": 883.0000147819519,
        "wires": [
            [
                "6cd74e0f83a95d06",
                "7eeea1a3f61c6fd3"
            ]
        ]
    },
    {
        "id": "3c818cfe91554d98",
        "type": "ui_button",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "fc8794c6faafafae",
        "order": 9,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Turn Right",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "9",
        "payloadType": "num",
        "topic": "moveA",
        "topicType": "msg",
        "x": 350,
        "y": 1220,
        "wires": [
            [
                "c6f79bd265ee7fd0"
            ]
        ]
    },
    {
        "id": "fd638f51f1c12e3e",
        "type": "ui_button",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "fc8794c6faafafae",
        "order": 13,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Turn Left",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "10",
        "payloadType": "num",
        "topic": "moveA",
        "topicType": "msg",
        "x": 360,
        "y": 1260,
        "wires": [
            [
                "c6f79bd265ee7fd0"
            ]
        ]
    },
    {
        "id": "06baf5a11802784f",
        "type": "tcp in",
        "z": "d20c8a1b93301854",
        "name": "Read port 1250",
        "server": "server",
        "host": "",
        "port": "1250",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "",
        "topic": "ip",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 340,
        "y": 1780,
        "wires": [
            [
                "fecd2841784c643e"
            ]
        ]
    },
    {
        "id": "38d312bd43730351",
        "type": "debug",
        "z": "d20c8a1b93301854",
        "name": "Port: 1250",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 1780,
        "wires": []
    },
    {
        "id": "fecd2841784c643e",
        "type": "function",
        "z": "d20c8a1b93301854",
        "name": "utf-8",
        "func": "msg.ipAddress = msg.payload.toString('utf-8'); // Asegúrate de que la IP esté en formato adecuado\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1780,
        "wires": [
            [
                "38d312bd43730351"
            ]
        ]
    },
    {
        "id": "523dc470bfbfa88b",
        "type": "trigger",
        "z": "d20c8a1b93301854",
        "name": "reset msg",
        "op1": "",
        "op2": "empty",
        "op1type": "pay",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 580,
        "y": 200,
        "wires": [
            [
                "44faa271545484b1"
            ]
        ]
    },
    {
        "id": "9651de81b8bfbe62",
        "type": "ui_button",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "fc8794c6faafafae",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Menu",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Menu",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 370,
        "y": 180,
        "wires": [
            [
                "523dc470bfbfa88b"
            ]
        ]
    },
    {
        "id": "44faa271545484b1",
        "type": "ui_template",
        "z": "d20c8a1b93301854",
        "group": "ca2272c3.e8396",
        "name": "window redirect",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<script>\n    (function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        if (!data) return;  // Ignoramos mensajes vacíos\n        // Obtenemos el servicio $location del injector de Angular\n        var $location = angular.element(document.body).injector().get('$location');\n        \n        if (data === \"Move\") {\n            $location.path(\"/Move\");\n            scope.$apply();\n        } else if (data === \"Voice\") {\n            $location.path(\"/Voice\");\n            scope.$apply();\n        } else if (data === \"Menu\") {\n            $location.path(\"/Menu\");\n            scope.$apply();\n        }\n        } else if (data === \"Static\") {\n        $location.path(\"/Static\");\n        scope.$apply();\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 740,
        "y": 200,
        "wires": [
            [
                "2e5a9d654d51552c"
            ]
        ]
    },
    {
        "id": "2e5a9d654d51552c",
        "type": "ui_ui_control",
        "z": "d20c8a1b93301854",
        "name": "",
        "events": "change",
        "x": 920,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "0248a18c0d056299",
        "type": "ui_button",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "282b0d511d648326",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Menu",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Menu",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 370,
        "y": 140,
        "wires": [
            [
                "523dc470bfbfa88b"
            ]
        ]
    },
    {
        "id": "26e902c6018fd0b6",
        "type": "comment",
        "z": "d20c8a1b93301854",
        "name": "From Voice",
        "info": "",
        "x": 230,
        "y": 140,
        "wires": []
    },
    {
        "id": "b2d0a6911aa8fab6",
        "type": "comment",
        "z": "d20c8a1b93301854",
        "name": "From Move",
        "info": "",
        "x": 230,
        "y": 180,
        "wires": []
    },
    {
        "id": "9e49cc66735bc73c",
        "type": "comment",
        "z": "d20c8a1b93301854",
        "name": "Menu",
        "info": "",
        "x": 250,
        "y": 220,
        "wires": []
    },
    {
        "id": "ed477214471643f3",
        "type": "comment",
        "z": "d20c8a1b93301854",
        "name": "Menu",
        "info": "",
        "x": 250,
        "y": 260,
        "wires": []
    },
    {
        "id": "bc5d230bf11a4cb0",
        "type": "comment",
        "z": "d20c8a1b93301854",
        "name": "Move Directions Commands",
        "info": "",
        "x": 220,
        "y": 560,
        "wires": []
    },
    {
        "id": "77ed8629c5d931b1",
        "type": "ui_button",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "282b0d511d648326",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Up",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "move",
        "topicType": "msg",
        "x": 370,
        "y": 1480,
        "wires": [
            [
                "62f729fd301bd1f7",
                "7afa2757fe2627a7"
            ]
        ]
    },
    {
        "id": "e414efb60b63f629",
        "type": "ui_button",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "282b0d511d648326",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Down",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "num",
        "topic": "move",
        "topicType": "msg",
        "x": 370,
        "y": 1520,
        "wires": [
            [
                "62f729fd301bd1f7",
                "7afa2757fe2627a7"
            ]
        ]
    },
    {
        "id": "e8c653eb69d5cf90",
        "type": "ui_button",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "282b0d511d648326",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Left",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3",
        "payloadType": "num",
        "topic": "move",
        "topicType": "msg",
        "x": 370,
        "y": 1560,
        "wires": [
            [
                "62f729fd301bd1f7",
                "7afa2757fe2627a7"
            ]
        ]
    },
    {
        "id": "5d50792fa2be90c7",
        "type": "ui_button",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "282b0d511d648326",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Right",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "4",
        "payloadType": "num",
        "topic": "move",
        "topicType": "msg",
        "x": 370,
        "y": 1600,
        "wires": [
            [
                "62f729fd301bd1f7",
                "7afa2757fe2627a7"
            ]
        ]
    },
    {
        "id": "a9d3bcc0ea1c4f6c",
        "type": "ui_button",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "282b0d511d648326",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Diagonal Right Up",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "5",
        "payloadType": "num",
        "topic": "move",
        "topicType": "msg",
        "x": 330,
        "y": 1640,
        "wires": [
            [
                "62f729fd301bd1f7",
                "7afa2757fe2627a7"
            ]
        ]
    },
    {
        "id": "62f729fd301bd1f7",
        "type": "debug",
        "z": "d20c8a1b93301854",
        "name": "Voice",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "voice",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 1540,
        "wires": []
    },
    {
        "id": "51796504ca173d5d",
        "type": "comment",
        "z": "d20c8a1b93301854",
        "name": "Voice Commands",
        "info": "",
        "x": 340,
        "y": 1440,
        "wires": []
    },
    {
        "id": "6b54698e.ed4b28",
        "type": "ui_joystick",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "fc8794c6faafafae",
        "order": 7,
        "width": 3,
        "height": 3,
        "trigger": "all",
        "timeInterval": "1000",
        "useThemeColor": true,
        "color": "#7b73c9",
        "threshold": "0.1",
        "directions": "all",
        "shape": "circle",
        "centerAtRelease": true,
        "x": 370,
        "y": 1180,
        "wires": [
            [
                "990f4c32aaa36db0"
            ]
        ]
    },
    {
        "id": "990f4c32aaa36db0",
        "type": "function",
        "z": "d20c8a1b93301854",
        "name": "function 2",
        "func": "// Si el topic es \"rested\", retorna 0 inmediatamente\nif (msg.topic === \"rested\") {\n    msg.payload = 0;\n    return msg;\n}\n\n// Suponemos que el ángulo se encuentra en msg.payload.angle.degree\nvar angle = msg.payload.angle.degree;\nvar salida;\n\nif (angle >= 330 || angle <= 30) {\n    salida = 5; //right\n} else if (angle >= 31 && angle <= 59) {\n    salida = 1; // right forward\n} else if (angle >= 60 && angle <= 120) {\n    salida = 8; //forward\n} else if (angle >= 121 && angle <= 149) {\n    salida = 3; // left forward\n} else if (angle >= 150 && angle <= 210) {\n    salida = 6; //left\n} else if (angle >= 211 && angle <= 239) {\n    salida = 4; //left baward\n} else if (angle >= 240 && angle <= 300) {\n    salida = 7; // backward\n} else if (angle >= 301 && angle <= 329) {\n    salida = 2; // right backward\n} else {\n    salida = 0; // Caso imprevisto\n}\n\nmsg.payload = salida;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1180,
        "wires": [
            [
                "e851452f63b4f969",
                "0f5fb786e8460357",
                "c6f79bd265ee7fd0"
            ]
        ]
    },
    {
        "id": "e851452f63b4f969",
        "type": "debug",
        "z": "d20c8a1b93301854",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 1200,
        "wires": []
    },
    {
        "id": "0f5fb786e8460357",
        "type": "ui_text_input",
        "z": "d20c8a1b93301854",
        "name": "",
        "label": "Direction",
        "tooltip": "",
        "group": "fc8794c6faafafae",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 880,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "e503e5499f80d24d",
        "type": "ui_button",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "fc8794c6faafafae",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Static",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Static",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 370,
        "y": 300,
        "wires": [
            [
                "523dc470bfbfa88b"
            ]
        ]
    },
    {
        "id": "f72e62edcf977295",
        "type": "comment",
        "z": "d20c8a1b93301854",
        "name": "Static Controll Buttons",
        "info": "",
        "x": 200,
        "y": 300,
        "wires": []
    },
    {
        "id": "3592ba583e30f53a",
        "type": "ui_button",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "7c2c525514e7d14c",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Menu",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Menu",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "523dc470bfbfa88b"
            ]
        ]
    },
    {
        "id": "89eba72d1611a127",
        "type": "comment",
        "z": "d20c8a1b93301854",
        "name": "From Static",
        "info": "",
        "x": 230,
        "y": 100,
        "wires": []
    },
    {
        "id": "5c0f53bb7185bd5d",
        "type": "ui_button",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "7c2c525514e7d14c",
        "order": 22,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Turn Right",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "9",
        "payloadType": "num",
        "topic": "moveB",
        "topicType": "msg",
        "x": 349.9999885559082,
        "y": 923.0000147819519,
        "wires": [
            [
                "6cd74e0f83a95d06",
                "7eeea1a3f61c6fd3"
            ]
        ]
    },
    {
        "id": "d71e547f4a75695b",
        "type": "ui_button",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "7c2c525514e7d14c",
        "order": 18,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Turn Left",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "10",
        "payloadType": "num",
        "topic": "moveB",
        "topicType": "msg",
        "x": 359.9999885559082,
        "y": 963.0000147819519,
        "wires": [
            [
                "6cd74e0f83a95d06",
                "7eeea1a3f61c6fd3"
            ]
        ]
    },
    {
        "id": "6cd74e0f83a95d06",
        "type": "function",
        "z": "d20c8a1b93301854",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 860,
        "wires": [
            [
                "e1cbf3d9d7776486",
                "ebbce51fd531a8a0"
            ]
        ]
    },
    {
        "id": "ebbce51fd531a8a0",
        "type": "ui_text_input",
        "z": "d20c8a1b93301854",
        "name": "",
        "label": "Direction",
        "tooltip": "",
        "group": "7c2c525514e7d14c",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 720,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "8c74df16230179f5",
        "type": "ui_slider",
        "z": "d20c8a1b93301854",
        "name": "",
        "label": "Speed",
        "tooltip": "",
        "group": "fc8794c6faafafae",
        "order": 11,
        "width": 1,
        "height": 4,
        "passthru": true,
        "outs": "all",
        "topic": "speed",
        "topicType": "msg",
        "min": 0,
        "max": "15",
        "step": 1,
        "className": "",
        "x": 370,
        "y": 1340,
        "wires": [
            [
                "dec924151bf4143d",
                "b51995875981bbe5"
            ]
        ]
    },
    {
        "id": "dec924151bf4143d",
        "type": "ui_text_input",
        "z": "d20c8a1b93301854",
        "name": "",
        "label": "Speed",
        "tooltip": "",
        "group": "fc8794c6faafafae",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 570,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "4b94573ab92392cd",
        "type": "ui_button",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "7c2c525514e7d14c",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Move",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Move",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 370,
        "y": 60,
        "wires": [
            [
                "523dc470bfbfa88b"
            ]
        ]
    },
    {
        "id": "c3b8ae3130d7588b",
        "type": "comment",
        "z": "d20c8a1b93301854",
        "name": "From Static",
        "info": "",
        "x": 230,
        "y": 60,
        "wires": []
    },
    {
        "id": "0f51d9937688eb3b",
        "type": "ui_button",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "7c2c525514e7d14c",
        "order": 20,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "moveB",
        "topicType": "msg",
        "x": 369.9999885559082,
        "y": 1003.0000147819519,
        "wires": [
            [
                "6cd74e0f83a95d06",
                "7eeea1a3f61c6fd3"
            ]
        ]
    },
    {
        "id": "121f6de6c5aa0dd2",
        "type": "ui_button",
        "z": "d20c8a1b93301854",
        "name": "",
        "group": "fc8794c6faafafae",
        "order": 16,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "move2",
        "topicType": "msg",
        "x": 370,
        "y": 1300,
        "wires": [
            [
                "c6f79bd265ee7fd0"
            ]
        ]
    },
    {
        "id": "e1cbf3d9d7776486",
        "type": "debug",
        "z": "d20c8a1b93301854",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 840,
        "wires": []
    },
    {
        "id": "8c936d3547497192",
        "type": "ui_text_input",
        "z": "d20c8a1b93301854",
        "name": "",
        "label": "Speed",
        "tooltip": "",
        "group": "7c2c525514e7d14c",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 570,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "711b89f99ae0a4d9",
        "type": "ui_slider",
        "z": "d20c8a1b93301854",
        "name": "",
        "label": "Speed",
        "tooltip": "",
        "group": "7c2c525514e7d14c",
        "order": 15,
        "width": 1,
        "height": 3,
        "passthru": true,
        "outs": "all",
        "topic": "speed",
        "topicType": "msg",
        "min": 0,
        "max": "8",
        "step": "4",
        "className": "",
        "x": 370,
        "y": 1040,
        "wires": [
            [
                "8c936d3547497192",
                "e1dfe3d66b365b64"
            ]
        ]
    },
    {
        "id": "7eeea1a3f61c6fd3",
        "type": "mqtt out",
        "z": "d20c8a1b93301854",
        "name": "",
        "topic": "direction",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1a59a7a4.a803d3",
        "x": 580,
        "y": 720,
        "wires": []
    },
    {
        "id": "e1dfe3d66b365b64",
        "type": "mqtt out",
        "z": "d20c8a1b93301854",
        "name": "",
        "topic": "speed",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1a59a7a4.a803d3",
        "x": 570,
        "y": 1020,
        "wires": []
    },
    {
        "id": "c6f79bd265ee7fd0",
        "type": "mqtt out",
        "z": "d20c8a1b93301854",
        "name": "",
        "topic": "direction",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1a59a7a4.a803d3",
        "x": 720,
        "y": 1240,
        "wires": []
    },
    {
        "id": "b51995875981bbe5",
        "type": "mqtt out",
        "z": "d20c8a1b93301854",
        "name": "",
        "topic": "speed",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1a59a7a4.a803d3",
        "x": 570,
        "y": 1340,
        "wires": []
    },
    {
        "id": "41de3d0165a82a97",
        "type": "comment",
        "z": "d20c8a1b93301854",
        "name": "1",
        "info": "",
        "x": 150,
        "y": 760,
        "wires": []
    },
    {
        "id": "eed3fd8d43305b8c",
        "type": "comment",
        "z": "d20c8a1b93301854",
        "name": "2",
        "info": "",
        "x": 150,
        "y": 800,
        "wires": []
    },
    {
        "id": "3e8bcf5351bd7489",
        "type": "comment",
        "z": "d20c8a1b93301854",
        "name": "3",
        "info": "",
        "x": 150,
        "y": 840,
        "wires": []
    },
    {
        "id": "3cbc269e585090d2",
        "type": "comment",
        "z": "d20c8a1b93301854",
        "name": "4",
        "info": "",
        "x": 150,
        "y": 880,
        "wires": []
    },
    {
        "id": "f696e4bccdf72635",
        "type": "comment",
        "z": "d20c8a1b93301854",
        "name": "5",
        "info": "",
        "x": 150,
        "y": 720,
        "wires": []
    },
    {
        "id": "a04d7899ac4cf576",
        "type": "comment",
        "z": "d20c8a1b93301854",
        "name": "0",
        "info": "",
        "x": 150,
        "y": 1000,
        "wires": []
    },
    {
        "id": "f5738b1bde116690",
        "type": "comment",
        "z": "d20c8a1b93301854",
        "name": "10",
        "info": "",
        "x": 150,
        "y": 960,
        "wires": []
    },
    {
        "id": "177bfb2aff62e348",
        "type": "comment",
        "z": "d20c8a1b93301854",
        "name": "9",
        "info": "",
        "x": 150,
        "y": 920,
        "wires": []
    },
    {
        "id": "7675a799c431cd38",
        "type": "comment",
        "z": "d20c8a1b93301854",
        "name": "8",
        "info": "",
        "x": 150,
        "y": 600,
        "wires": []
    },
    {
        "id": "6556de28b1988012",
        "type": "comment",
        "z": "d20c8a1b93301854",
        "name": "7",
        "info": "",
        "x": 150,
        "y": 640,
        "wires": []
    },
    {
        "id": "a03a2f318e5ac047",
        "type": "comment",
        "z": "d20c8a1b93301854",
        "name": "6",
        "info": "",
        "x": 150,
        "y": 680,
        "wires": []
    },
    {
        "id": "7afa2757fe2627a7",
        "type": "mqtt out",
        "z": "d20c8a1b93301854",
        "name": "",
        "topic": "speed",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1a59a7a4.a803d3",
        "x": 570,
        "y": 1580,
        "wires": []
    },
    {
        "id": "43eaa82b3ba0b5b1",
        "type": "ui_spacer",
        "z": "d20c8a1b93301854",
        "name": "spacer",
        "group": "fc8794c6faafafae",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "24b510402e616be6",
        "type": "ui_spacer",
        "z": "d20c8a1b93301854",
        "name": "spacer",
        "group": "fc8794c6faafafae",
        "order": 6,
        "width": 9,
        "height": 1
    },
    {
        "id": "61abcedd656db5b8",
        "type": "ui_spacer",
        "z": "d20c8a1b93301854",
        "name": "spacer",
        "group": "fc8794c6faafafae",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "1c2912e6bb6cde28",
        "type": "ui_spacer",
        "z": "d20c8a1b93301854",
        "name": "spacer",
        "group": "fc8794c6faafafae",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "13832d58553fbb33",
        "type": "ui_spacer",
        "z": "d20c8a1b93301854",
        "name": "spacer",
        "group": "fc8794c6faafafae",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "486ec6cbc92f6805",
        "type": "ui_spacer",
        "z": "d20c8a1b93301854",
        "name": "spacer",
        "group": "fc8794c6faafafae",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "12a3dc102cfa6a9d",
        "type": "ui_spacer",
        "z": "d20c8a1b93301854",
        "name": "spacer",
        "group": "fc8794c6faafafae",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "2984cfb117331e34",
        "type": "ui_spacer",
        "z": "d20c8a1b93301854",
        "name": "spacer",
        "group": "fc8794c6faafafae",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "7b3ce88a8ca09339",
        "type": "ui_spacer",
        "z": "d20c8a1b93301854",
        "name": "spacer",
        "group": "fc8794c6faafafae",
        "order": 18,
        "width": 8,
        "height": 1
    },
    {
        "id": "18305980569dedb9",
        "type": "ui_spacer",
        "z": "d20c8a1b93301854",
        "name": "spacer",
        "group": "7c2c525514e7d14c",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "f1568e8e29284e21",
        "type": "ui_spacer",
        "z": "d20c8a1b93301854",
        "name": "spacer",
        "group": "7c2c525514e7d14c",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "9d5d576753b57c09",
        "type": "ui_spacer",
        "z": "d20c8a1b93301854",
        "name": "spacer",
        "group": "7c2c525514e7d14c",
        "order": 7,
        "width": 11,
        "height": 1
    },
    {
        "id": "bb490c0ac78c7ada",
        "type": "ui_spacer",
        "z": "d20c8a1b93301854",
        "name": "spacer",
        "group": "7c2c525514e7d14c",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "d88e0f01a8ec3fed",
        "type": "ui_spacer",
        "z": "d20c8a1b93301854",
        "name": "spacer",
        "group": "7c2c525514e7d14c",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "79990c53d1a9341d",
        "type": "ui_spacer",
        "z": "d20c8a1b93301854",
        "name": "spacer",
        "group": "7c2c525514e7d14c",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "c38daad5584dc03a",
        "type": "ui_spacer",
        "z": "d20c8a1b93301854",
        "name": "spacer",
        "group": "7c2c525514e7d14c",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "debccf68d65eb625",
        "type": "ui_spacer",
        "z": "d20c8a1b93301854",
        "name": "spacer",
        "group": "7c2c525514e7d14c",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "9b73c3243e6b2245",
        "type": "ui_spacer",
        "z": "d20c8a1b93301854",
        "name": "spacer",
        "group": "7c2c525514e7d14c",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "2f7bb49c04cb1483",
        "type": "ui_spacer",
        "z": "d20c8a1b93301854",
        "name": "spacer",
        "group": "7c2c525514e7d14c",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "617e9f2ab0cb5bf8",
        "type": "ui_spacer",
        "z": "d20c8a1b93301854",
        "name": "spacer",
        "group": "7c2c525514e7d14c",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "ffa67c80f0c807ab",
        "type": "ui_spacer",
        "z": "d20c8a1b93301854",
        "name": "spacer",
        "group": "7c2c525514e7d14c",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "167c9f38c849b7d4",
        "type": "ui_spacer",
        "z": "d20c8a1b93301854",
        "name": "spacer",
        "group": "7c2c525514e7d14c",
        "order": 27,
        "width": 1,
        "height": 1
    },
    {
        "id": "fe0dfac108e5a3bf",
        "type": "ui_spacer",
        "z": "d20c8a1b93301854",
        "name": "spacer",
        "group": "7c2c525514e7d14c",
        "order": 29,
        "width": 1,
        "height": 1
    },
    {
        "id": "5724950aa414dc5e",
        "type": "ui_spacer",
        "z": "d20c8a1b93301854",
        "name": "spacer",
        "group": "7c2c525514e7d14c",
        "order": 31,
        "width": 1,
        "height": 1
    },
    {
        "id": "8c406a7fbb77e986",
        "type": "ui_spacer",
        "z": "d20c8a1b93301854",
        "name": "spacer",
        "group": "7c2c525514e7d14c",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "ca2272c3.e8396",
        "type": "ui_group",
        "name": "Menu",
        "tab": "d9bf7560.df5e58",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7c2c525514e7d14c",
        "type": "ui_group",
        "name": "Static",
        "tab": "81925481fce2d587",
        "order": 1,
        "disp": true,
        "width": 11,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fc8794c6faafafae",
        "type": "ui_group",
        "name": "Move",
        "tab": "3afba23920f34be4",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "282b0d511d648326",
        "type": "ui_group",
        "name": "Voice",
        "tab": "727b2bb7d3365a72",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1a59a7a4.a803d3",
        "type": "mqtt-broker",
        "name": "Broker Local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "node-red-client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d9bf7560.df5e58",
        "type": "ui_tab",
        "name": "Menu",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "81925481fce2d587",
        "type": "ui_tab",
        "name": "Static",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3afba23920f34be4",
        "type": "ui_tab",
        "name": "Move",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "727b2bb7d3365a72",
        "type": "ui_tab",
        "name": "Voice",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]